name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened]

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"
          enable-cache: true

      - name: Sync dependencies
        run: uv sync --all-extras --dev

      - name: Run pre-commit
        run: uv run pre-commit run --all-files --show-diff-on-failure

      - name: Run tests
        run: uv run pytest --cov-report term-missing --cov-branch --cov-report xml --cov-report term --cov=app -vv --strict-markers -rfE

      - name: Coverage
        uses: py-cov-action/python-coverage-comment-action@v3
        if: ${{ github.event_name == 'pull_request' }}
        with:
          GITHUB_TOKEN: ${{ github.token }}
